= form_for @cafes_user do |f|
  - if @cafes_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cafes_user.errors.count, "error")} prohibited this cafes_user from being saved:"
      %ul
        - @cafes_user.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
