- if user_signed_in?
  %h1 
    My Profile
    %p
      .circular
        -if current_user.profile_image.thumb.url.present?
          = image_tag(current_user.profile_image.thumb.url)
        -else 
          = image_tag("default.png")
      .userinfo      
        %p
          %b Name:
          = current_user.name

        %p
          %b Email:
          = current_user.email
    .buttons    
      .btn
        = link_to 'CAFE NEAR ME', cafes_path
      .btn  
        = link_to 'EDIT MY PROFILE', edit_user_registration_path
      .btn     
        = link_to 'MY FAVOURITES', cafes_path


