- content_for :center do
  %p#notice= notice


  #cafe_header
    %h1
      %b= @cafe.cafe_name
    %p
      %b= @cafe.building_number + ' ' + @cafe.street_name + ', ' + @cafe.postcode
    %p
      %b= @cafe.opening_hours

  %h3
    .cafeimages 
      -if @cafe.cafe_image.thumb.url.present?
        = image_tag @cafe.cafe_image.thumb.url
      -else 
        = image_tag 'default_cafe.png'

  #cafe_blurb
    %p
      %b= @cafe.cafe_description

  #cafe_contact_details
    %p
      %b Email:
      = @cafe.contact_email
    %p
      %b Tel:
      = @cafe.contact_tel
    %p
      %b Website:
      = @cafe.website_link
  #wifi_details
    %p
      %b Wifi network name:
      = @cafe.wifi_network_name
    %p
      %b Wifi password:
      = @cafe.wifi_password

  #favorite
    - if current_user
      - if is_favorite?(@cafe, current_user)
        = link_to "Remove from favorites", favorite_cafe_path(@cafe, type: "unfavorite"), method: :put
      - else
        = link_to "Add to favorites",   favorite_cafe_path(@cafe, type: "favorite"), method: :put
  
 
  #links
    - if current_user.id == @cafe.user_id 
      = link_to 'Edit', edit_cafe_path(@cafe)
      \|
    = link_to 'Back', cafes_path


- content_for :right do
  = render 'shared/map'


