!!!
%html
  %head
    %link{:href => "http://fonts.googleapis.com/css?family=Questrial", :rel => "stylesheet", :type => "text/css"}/
    %title WifinderApp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDeNiJ4x5qlyEz0c3pm-DYiYHd2SiB4vXA&sensor=false&libraries=places"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/

  %body
    %nav
      .navbar-inner
        %ul.nav
          .text-center
            .row1
              .user-nav
                - if user_signed_in?
                  = link_to 'Logout',  destroy_user_session_path, method: :delete
            
            .row2
              = link_to image_tag( 'wifinder_logo.png'), 'https://blooming-journey-8960.herokuapp.com'
              
                  
               
  #container-fluid
    .row1-fluid
      .span3#left
        - if user_signed_in?
          = render 'shared/userinfo'
        - else
          .signup
            .btn
              = link_to 'Sign up', new_user_registration_path
            .btn      
              = link_to 'Login', new_user_session_path
            .btn      
              = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)
    .row2-fluid      
      .span6#center
        = yield :center  

    .row3-fluid
      .span3#right
        .twitter
          %a.twitter-timeline{"data-widget-id" => "532537842790977536", :href => "https://twitter.com/TeamWifinder"} Tweets by @TeamWifinder
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        - if user_signed_in?
          .extras
            = yield :right




